page-selecteer-materiaal {
*{
    margin: 0;
    padding: 0;
    }
#information{
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center; 
    height: 70px;  
}
#information h1{
    font-size: 2em;
    font-weight: bold;
    display: inline;
    line-height: 70px; 
}
#information ion-icon{
    font-size: 50px;
    display: inline;
    float: right;
    line-height: 70px;
} 
#grid{
    padding-top: 5%;
} 
#grid ion-row{
    padding-top: 1%;
} 
}
