.home-input{
  border: #EBEBEB 2px solid;
  padding: 0;
}

.home-input:first-child{
  border-radius: 6px 6px 0 0;
  border-bottom: 0;
  overflow: hidden;
}

.home-input:last-child{
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}

