.oefening-materiaal{
  padding: 20px 0;
  border-right: 2px solid #EBEBEB;
  border-bottom: 2px solid #EBEBEB;
  overflow: hidden;
  font-weight: bold;
}

.oefening-materiaal-grid{
  border: 2px solid #EBEBEB;
  border-radius: 6px;
  overflow: hidden;
  border-bottom: none;
  border-right: none;
  margin: 20px 4vw 10vh 4vw !important;
}

.oefening-uitleg{
  margin: 0 4vw 0 4vw !important;
}

.info-button{
  cursor: pointer;
  color: #FF7F11;
}

.oefening-materiaal:active{
  color: #FF7F11;
}

