page-labotafel {

  .background{
    height: 100%;
    background-image: url('../../assets/imgs/labotafel.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .controleer{
    position: absolute;
    left: 100%;
  }
  //background-image: url('../../assets/labotafel.jpg');

}
