<!--
  Generated template for the MateriaalWerkwijzePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <!--<form (ngSubmit)="logForm()" *ngIf="isVisibleForm">
    <ion-list radio-group [(ngModel)]="keuze" name="oplosbaar">
        <ion-list-header>
          Is de stof goed oplosbaar?
        </ion-list-header>

        <ion-item>
          <ion-label>Goed oplosbaar</ion-label>
          <ion-radio value="goed"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Slecht oplosbaar</ion-label>
          <ion-radio value="slecht" ></ion-radio>
        </ion-item>
      </ion-list>

      <button ion-button type="submit">
         Volgende
       </button>
   </form>-->
   <!--<ion-title text-wrap>{{vraag}}</ion-title>

   <div *ngIf="isVisibleList">
     <ion-list text-wrap>

       <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">
         <ion-item *ngFor="let stap of stappen">{{ stap }}</ion-item>
       </ion-item-group>
     </ion-list>
     <button ion-button (click)="controle()" >
            Controleer
      </button>
  </div>

</ion-content>-->


<ion-header>
  <ion-navbar hideBackButton>
    <ion-title text-center>
      Oefening
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid no-margin>
    <ion-row class="oefening-orden-uitleg">
      <ion-col col-12 text-wrap>{{vraag}}
      </ion-col>
    </ion-row>
    <ion-row class="oefening-orden-header">
     <ion-col col-12 class="first-elem">Stappen</ion-col>
   </ion-row>
    <ion-row class="oefening-orden-option">
      <ion-col col-12>
        <ion-item-group reorder="true" (ionItemReorder)="reorderItems($event)">
          <ion-item *ngFor="let stap of stappen">{{ stap }}</ion-item>
        </ion-item-group>
      </ion-col>
    </ion-row>
    <ion-row class="oefening-orden-option">
    <button  (click)="controle()"  ion-button block outline>
        Controleer
      </button>
    </ion-row>
  </ion-grid>

</ion-content>
