.oefening-tabel-header{
  margin-top: 32px !important;
  border: #EBEBEB 2px solid;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
  margin-bottom: 0 !important;
  padding-left: 2%;
  font-weight: bold;
  color: #222222;
  font-size: 18px;
}

.oefening-tabel-header ion-col{
  border-right: 2px solid #EBEBEB;
}

.oefening-tabel-header ion-col:last-child{
  border-right: none
}

.oefening{
  border: #EBEBEB 2px solid;
  border-top: none;
  padding: 20px 0 20px 2%;
  margin: 0 !important;
  cursor: pointer;
  font-weight: bold;
}

.oefening:hover{
  background-color: #fcfcfc;
}

.oefening-doen{
  color: #222222;
}

.oefening-locked{
  color: #EBEBEB;
}

.oefening-gedaan{
  color: #FF7F11;
}

.oefening-blocked{
  color: #FC9999;
}
